@page
@model WebApp.Pages.Account.UserProfileModel
@{
}
<form method="post">
    <div class="text-danger" asp-validation-summary="All"></div>
    <div class="mb-3 form-group row">
        <div class="col-2">
            <label asp-for="UserProfile.Email"></label>
        </div>
        <div class="col-5">
            <input type="text" class="form-control" asp-for="UserProfile.Email" readonly>
        </div>
    </div>


    <div class="mb-3 form-group row">
        <div class="col-2">
            <label asp-for="UserProfile.Department"></label>
        </div>
        <div class="col-5">
            <input type="text" class="form-control" asp-for="UserProfile.Department">
            <span class="text-danger" asp-validation-for="UserProfile.Department"></span>
        </div>
    </div>

    <div class="mb-3 form-group row">
        <div class="col-2">
            <label asp-for="UserProfile.Position"></label>
        </div>
        <div class="col-5">
            <input type="text" class="form-control" asp-for="UserProfile.Position">
            <span class="text-danger" asp-validation-for="UserProfile.Position"></span>
        </div>
    </div>

   

    <div class=" row my-2">
        <div class="col-5">
            <input type="submit" class="btn btn-primary btn-block" value="Save">
        </div>

        <div class="col-5">
            <a class="btn btn-link" href="/Account/Login">Sign In</a>
        </div>
    </div>
</form>

@if (!string.IsNullOrWhiteSpace(Model.SuccessMessage))
{
    <div class="alert alert-success" role-alert>
        @Model.SuccessMessage
    </div>
}